<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3" id="row1col1">
        <img src="./assets/QRapp.png" class="img-fluid rounded-top" alt="QRapp">
      </div>
      <div class="col-sm-6 text-center" id="row1col2">
        <div class="dropdown">
          <button class="dropbtn" data-display="static">MÚSICA</button>
          <div class="dropdown-content">
            <a href="#">Clásica</a>
            <a href="#">Cumbia</a>
            <a href="#">Electrónica</a>
            <a href="#">Freestyle</a>
            <a href="#">HipHop</a>
            <a href="#">Jazz</a>
            <a href="#">Metal</a>
            <a href="#">Pop</a>
            <a href="#">Rap</a>
            <a href="#">Rock</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn" data-display="static">FAMILIA</button>
          <div class="dropdown-content">
            <a href="#">Bioparque</a>
            <a href="#">Musical</a>
            <a href="#">Patinaje</a>
            <a href="#">Teatro</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn" data-display="static">TEATRO</button>
          <div class="dropdown-content">
            <a href="#">Comedia</a>
            <a href="#">Danza</a>
            <a href="#">Drama</a>
            <a href="#">Musical</a>
            <a href="#">Ópera</a>
            <a href="#">Stand Up</a>
            <a href="#">Teatro de Revista</a>
            <a href="#">Unipersonal</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn" data-display="static">DEPORTES</button>
          <div class="dropdown-content">
            <a href="#">Polo</a>
            <a href="#">Tenis</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn" data-display="static">ESPECIALES</button>
          <div class="dropdown-content">
            <a href="#">Cine</a>
            <a href="#">Conferencias</a>
            <a href="#">Experiencias</a>
            <a href="#">Exposiciones</a>
            <a href="#">Ferias</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn" href="#" data-display="static">Ayuda</button>
        </div>
      </div>
      <div class="col-sm-2" id="row1col3">
        <div class="input-group">
          <div class="search">
            <div class="form-outline">
              <input id="search-input" type="search" id="form1" class="form-control" placeholder="Buscar">
            </div>
            <button type="button" class="btn" class="lupaButton">
              <img src="./assets/lupa.png" alt="lupaImagen" id="lupaImg" class="img-fluid">
            </button>
          </div>
        </div>
      </div>
      <div class="col-sm-1" id="carritoDiv">
        <button type="button" class="carritoButton">
          <img src="./assets/carrito.png" id="carritoImg" alt="carritoImagen" class="img-fluid">
        </button>
      </div>
    </div>
  </div>
</header>